body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #1b244a;
  color: #ffffff;
}

@font-face {
  src: url("/fonts/CursedTimerULiL.ttf");
  font-family: "CursedTimerULiL";
}

.container {
  display: flex;
  justify-content: space-around;
}

.home-score-title,
.away-score-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  color: #eeeeee;
  padding: 20px;
}

.home-score-el,
.away-score-el {
  color: #f94f6d;
  font-family: "CursedTimerULiL";
  font-size: 90px;
  line-height: 127px;
  background-color: #080001;
  padding: 30px 20px;
  border-radius: 10px;
}

.one-point-btn,
.two-point-btn,
.three-point-btn {
  font-family: "CursedTimerULiL";
  background-color: #1b244a;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 28px;
  margin: 0 5px;
}

.new-game-footer {
  margin-top: 80px;
}

.new-game-btn {
  font-family: "CursedTimerULiL";
  background-color: #1b244a;
  color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 28px;
  margin: 0 8px;
}
