body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.hero {
  background-image: url("images/hero-image.jpg");
  padding: 150px 0;
  width: auto;
  background-size: cover;
}

.hero-heading {
  max-width: 250px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 37px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1d3557;
  display: block;
  padding: 10px 8px;
  border-radius: 10px;
}

.hero-text {
  max-width: 500px;
  margin: 30px auto;
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #457b9d;
  display: block;
  padding: 10px 8px;
  border-radius: 10px;
}

.places-to-visit {
  padding: 40px 0;
  background-color: #f1faee;
}

.visit-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.sites {
  max-width: 300px;
  margin: 0 auto;
}

.visit-images {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.sites-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d3557;
}

.sites-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #1d3557;
  margin: 0 20px;
}

.guide {
  padding: 40px 0;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: #a8dadc;
  border-bottom: 8px solid #1d3557;
  border-radius: 10px;
}

.avatar {
  width: 150px;
  border-radius: 10px;
}

.guide-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1d3557;
}

.guide-text {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: #1d3557;
}

.guide-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #1d3557;
}
